/* Estilos del contenedor del perfil */
.profile-container {
    background-color: #f0f4f8; /* Color de fondo claro */
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #007bff; /* Borde azul */
    max-width: 900px;
    margin:  auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
}

/* Estilo del título del perfil */
.profile-title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: #002d72; /* Azul oscuro */
    font-weight: 600;
}

/* Estilos para la información del perfil */
.profile-info {
    padding: 15px;
    text-align: left;
    width: 100%;
}

.profile-info p {
    font-size: 18px;
    line-height: 1.6;
    margin: 12px 0;
    color: #333; /* Color de texto oscuro */
}

.profile-info p strong {
    font-weight: 600;
    color: #002d72; /* Azul oscuro */
}

/* Estilos del encabezado del perfil */
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

/* Estilos para el botón "Volver" */
.btn-secondary {
    background-color: #007bff; /* Azul primario */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-secondary:hover {
    background-color: #0056b3; /* Azul más oscuro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .profile-container {
        margin: 20px;
        padding: 20px;
    }

    .profile-title {
        font-size: 22px;
    }
}

/* ICONOS ESTILOS */
.profile-field {
    display: flex;
    align-items: center;
    gap: 12px;
}

.edit-icon {
    cursor: pointer;
    color: #007bff; /* Azul primario */
    margin-left: 5px;
    font-size: 18px;
}

.profile-input {
    border: 1px solid #007bff; /* Borde azul primario */
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    width: 100%;
}
