/* Calendario Principal */
.react-calendar {
  width: 100%;
  max-width: 1000px;
  margin: 60px auto;
  overflow: auto;
  border: 1px solid #007bff; /* Añade borde para definir el calendario */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para un efecto flotante */
}

/* Encabezado del Calendario */
.calendario-header {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 5rem;
  margin: 20px auto;
  color: #000000; /* Color del texto */
}

/* Indicadores de Reservas */
.indicator {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 2px auto;
}

.indicator.green {
  background-color: rgb(223, 46, 46);
}

.indicator.red {
  background-color: red;
}

/* Modal de Reservas */
.calendario-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.calendario-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para resaltar el modal */
}

/* Estilos del Formulario */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold; /* Hace el texto del label más destacado */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s; /* Añade una transición suave al enfocar */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocar */
  outline: none; /* Elimina el borde azul estándar de enfoque */
}

/* Botones del Modal */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal-buttons button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave en el hover */
}

.modal-buttons button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.modal-buttons button[type="submit"]:hover {
  background-color: #0056b3; /* Color al pasar el cursor */
}

.modal-buttons button[type="button"] {
  background-color: #6c757d;
  color: white;
}

.modal-buttons button[type="button"]:hover {
  background-color: #5a6268; /* Color al pasar el cursor */
}
